
<a href="../logout"> logout</a>


<h2>Welcome to Admin_View</h2>
<table style="width:100%">
  <tr>
    <th><a href="register_degree_link"> Register Degree</a></th>
    <th><a href="view_all_degree"> View Degree</a></th>
  </tr>
  <tr>
    <th><a href="register_staff"> Register Staff</a></th>
    <th><a href= "view_all_staff"> View Staffs</a></th>
  </tr>
  <tr>
    <th><a href="admin_view_approved_files"> approved notes</a></th>
    <th><a href= "admin_pending_view_files"> pending notes</a></th>
  </tr>
  <tr>
    <th><a href="admin_view_approved_students"> approved students</a></th>
    <th><a href= "admin_pending_students"> pending student</a></th>
  </tr>

  
</table>



