


<div>
  <form action="signup" method="post">
    <table>
    <tr>
      <td><input type="text" id="user_id" name="user_id" placeholder="user_id." required ></td>
    </tr>
    <tr>
      <td><input type="text" id="name" name="name" placeholder="name." required></td>
    </tr>
    <tr>
      <td><input type="text" id="email" name="email" placeholder="email." required></td>
    </tr>
    <tr>
      <td><input type="text" id="address" name="address" placeholder="Youraddress" required></td>
    </tr>
    <tr>
      <td><input type="text" id="pincode" name="pincode" placeholder="pincode." required></td>
    </tr>
    <tr>
     <td><input type="text" id="phone" name="phone" placeholder="phone" required></td>
    </tr>

    <tr>
      <td><input type="text" id="password" name="password" placeholder="password."required></td>
    </tr>
    <tr>
      <td><input type="submit" value="Submit"></td>
    </tr>
    </table>
    <a href="../">Login</a>


  </form>
</div>




